html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, SegoeUI, Roboto, Oxygen-Sans, Ubuntu, Cantarell, Helvetica, sans-serif;
  color: #333333;
  height: 100%;
  margin: 0;
  padding: 0;
}

* {
    box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}